*{
    box-sizing: border-box;
}
.goods{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.goods-item{
    width: 25%;
    text-align: center;
}
.goods-item__img{
    width: 200px;
    height: 300px;
}
.add{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 20px auto;
}
input[type="text"],
input[type="number"]{
    margin-bottom: 20px;
}
.image{
    margin-bottom: 20px;
}
ul{
    display: flex;
    justify-content: center;
    padding: 0;
}
li{
    list-style: none;
    margin-right: 10px;
    cursor: pointer;
}
li div{
    width: 26px;
    height: 26px;
    background: red;
}
li:nth-child(2) div{
    background: rgb(151, 96, 151);
}
li:nth-child(3) div{
    background: rgb(236, 236, 236);
}
div .active{
    border: 2px solid rgb(17, 255, 17);
}