.facebook,
.linkedin,
.pinterest,
.youtube,
.twitter
{
  background: url('../img/Social_circle.png') no-repeat -47px -28px;
	width: 55px;
  height: 54px;
  display: flex;
  margin-bottom: 10px;
  cursor: pointer;
}
.facebook:hover{
  background: url('../img/Social_circle.png') no-repeat -47px -96px;
}
.linkedin{
  background: url('../img/Social_circle.png') no-repeat -167px -28px;
}
.linkedin:hover{
  background: url('../img/Social_circle.png') no-repeat -167px -96px;
}
.pinterest{
  background: url('../img/Social_circle.png') no-repeat -229px -28px;
}
.pinterest:hover{
  background: url('../img/Social_circle.png') no-repeat -229px -96px;
}
.youtube{
  background: url('../img/Social_circle.png') no-repeat -350px -28px;
}
.youtube:hover{
  background: url('../img/Social_circle.png') no-repeat -350px -96px;
}
.twitter{
  background: url('../img/Social_circle.png') no-repeat -411px -28px;
}
.twitter:hover{
  background: url('../img/Social_circle.png') no-repeat -411px -96px;
}
.facebook a,
.linkedin a,
.pinterest a,
.youtube a,
.twitter a{
  margin-left: 70px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 20px;
}